body {
  text-align:center;
}

#container{
  background-color:blue;color:white;
                               margin:25px;padding:25px;border-radius:25px;
}

#flashcard input[type=button]{
   background-color:pink;
   width:200px;
   margin-left:auto;
   margin-right:auto;
   color:black;
   padding:15px;
   border-radius:25px;
   font-size:15px;
}
#animal{
  background-color:grey;color:white;
                              margin:50px;padding:50px;border-radius:50px;
}
#gallery input[type=button]{
  background-color:pink;
  color:red;
  font-weight:bolder;
  padding:10px;
  margin:5px;
  font-size:20px;
}

#gallery img{
  Width:400px;
}