body {
  text-align:center;
}

#container{
  background-color: #b3fff0;color:black;
 margin:25px;padding:25px;border-radius:5px;
 margin-right:200px;
  margin-left:200px;
  font-size:17;
  border-radius:10px;
}

#flashcard input[type=button]{
   background-color:pink;
   width:200px;
   margin-left:400;
   margin-right:400;
   color:black;
   padding:15px;
   border-radius:25px;
   font-size:15px;
}
#animal{
  background-color:grey;color:white;
                              margin:50px;padding:50px;border-radius:50px;
}
#gallery input[type=button]{
  background-color:grey;
  color:black;
  font-weight:bolder;
  padding:10px;
  margin:5px;
  font-size:20px;
}

#gallery img{
  Width:300px;
}

.box{
  border-style:solid;
  float:left;
  text-align:center;
  line-height:100px;
  vertical-align:middle;
  height:100px;
  width:100px;
  background-color:white;
}
#board{ 
  margin-left:auto;
  margin-right:auto;
  width:350px;
  height:350px;
  
}

#image{
  width:700px;
  height:400px;
}
